### Introduction

In this notebook i will try to explain list comprehension and filtering with lambda function through examples.

List comprehension is a short syntax for creating a new list from existing list.

### Imports

In [1]:
import pandas as pd

### List comprehension

In [2]:
countries = ['germany','cuba','france','spain','fiji','canada','russia','argentina','egypt','sweden','serbia']

Examples - Countries

Countries name starting with upper case letter

In [3]:
title_countries = []

In [4]:
for country in countries:
    title_countries.append(country.title())

In [5]:
title_countries

['Germany',
 'Cuba',
 'France',
 'Spain',
 'Fiji',
 'Canada',
 'Russia',
 'Argentina',
 'Egypt',
 'Sweden',
 'Serbia']

Convert all letters in countries to uppercase

In [6]:
upper_countries = []

In [7]:
upper_countries = [country.upper() for country in countries]

In [8]:
upper_countries

['GERMANY',
 'CUBA',
 'FRANCE',
 'SPAIN',
 'FIJI',
 'CANADA',
 'RUSSIA',
 'ARGENTINA',
 'EGYPT',
 'SWEDEN',
 'SERBIA']

Uppercase countries names in reverse letter order

In [9]:
reverse_order = [(country,country[::-1]) for country in upper_countries]

In [10]:
reverse_order

[('GERMANY', 'YNAMREG'),
 ('CUBA', 'ABUC'),
 ('FRANCE', 'ECNARF'),
 ('SPAIN', 'NIAPS'),
 ('FIJI', 'IJIF'),
 ('CANADA', 'ADANAC'),
 ('RUSSIA', 'AISSUR'),
 ('ARGENTINA', 'ANITNEGRA'),
 ('EGYPT', 'TPYGE'),
 ('SWEDEN', 'NEDEWS'),
 ('SERBIA', 'AIBRES')]

Print every country name which have more than 5 letters

In [11]:
countries_min_5_letters = [country for country in countries if (len(country) > 5)]

In [12]:
countries_min_5_letters

['germany', 'france', 'canada', 'russia', 'argentina', 'sweden', 'serbia']

Print countries which start with letter 's'

In [13]:
countries_letter_s = [country for country in countries if country[0] == 's']

In [14]:
countries_letter_s

['spain', 'sweden', 'serbia']

In [15]:
countries

['germany',
 'cuba',
 'france',
 'spain',
 'fiji',
 'canada',
 'russia',
 'argentina',
 'egypt',
 'sweden',
 'serbia']

Examples - Countries and population from 2020

In [16]:
data = {'country': ['Germany','Cuba','France','Spain','Fiji','Canada','Russia','Argentina','Egypt','Sweden','Serbia'],
        'population': [83783942,11326616,65273511,46754778,896445,37742154,145934462,45195774,102334404,10099265,8737371]}

Print countries which have population more than 70 milion

In [17]:
for i in range(0,len(data['population'])):
    if data['population'][i] > 70000000:
        print(data['country'][i])
    else:
        i=i+1

Germany
Russia
Egypt

If country have more than 20 milions of people write high, else low in new column for each country

In [18]:
data['number of people'] = ["HIGH" if x > 10000000 else "LOW" for x in data['population']]

Convert dictionary to pandas data frame

In [19]:
data_df = pd.DataFrame.from_dict(data)

In [21]:
data_df

      country  population number of people
0     Germany    83783942             HIGH
1        Cuba    11326616             HIGH
2      France    65273511             HIGH
3       Spain    46754778             HIGH
4        Fiji      896445              LOW
5      Canada    37742154             HIGH
6      Russia   145934462             HIGH
7   Argentina    45195774             HIGH
8       Egypt   102334404             HIGH
9      Sweden    10099265             HIGH
10     Serbia     8737371              LOW

### Lambda function

Lambda function are used when we want to perform small tasks, with less code. They can have multiple arguments but one expression. They can act as anonymus function when they do not require any name. They are defined using keyword lambda.

Basic example lambda function example:

List even, odd, square and cube of integers from list of integers, filtering with lambdas. Then count number of occurences of even and odd numbers.

In [103]:
import numpy as np # we will import numpy for purpose of creating random numbers for example

numbers = np.random.randint(1,30,11)

even = list(filter(lambda x: x%2 == 0, numbers))
odd = list(filter(lambda x: x%2 != 0, numbers))
square = list(filter(lambda x: x**2, numbers))
cube = list(filter(lambda x: x**3, numbers))

even_count = len(even)
odd_count = len(odd)

print(numbers)
print(f"Even numbers: {even} Count of even numbers {even_count}")
print(f"Odd numbers: {odd} Count of odd numbers {odd_count} ")
print(f"Squares of numbers: {square}")
print(f"Cubes of numbers: {cube}")

[15 14  2  5 18 10  1 27  1 13 25]
Even numbers: [14, 2, 18, 10] Count of even numbers 4
Odd numbers: [15, 5, 1, 27, 1, 13, 25] Count of odd numbers 7
Squares of numbers: [15, 14, 2, 5, 18, 10, 1, 27, 1, 13, 25]
Cubes of numbers: [15, 14, 2, 5, 18, 10, 1, 27, 1, 13, 25]

Use lambda and filter to print countries names which contain more than 8 letters.

In [104]:
countries = ['germany','cuba','france','spain','fiji','canada','russia','argentina','egypt','sweden','serbia']

In [105]:
is_long = lambda x: len(x) > 8

In [106]:
countries_long = list(filter(is_long, countries))

In [107]:
countries_long

['argentina']

Lambda function explained on family data frame

About data frame:
- id - is identifying information for each member
- Income is given in USD per month.

In [108]:
family = pd.DataFrame({
    'id': [1,2,3,4],
    'name': ['Father','Mother','son','daughter'],
    'age': [46,43,17,25],
    'income': [3600,4000,1000,3000]
})

Every person in family got 10% increase in monthly income. Use lambda and display data frame with increased income values.

In [111]:
family_income_increase = family['income'].apply(lambda x: 1.1 * x)

In [112]:
family_income_increase

0    3960.0
1    4400.0
2    1100.0
3    3300.0
Name: income, dtype: float64

Additional calculation

Calculating total family income and average family income

In [116]:
total = family_income_increase.sum()
print("Total family income is {} USD per month".format(total))

Total family income is 12760.0 USD per month

In [117]:
average = family_income_increase.mean()
print("Average family income is {} USD per month".format(average))

Average family income is 3190.0 USD per month

Highest income

In [134]:
max_income = family_income_increase.max()

In [135]:
print(f"Highest income in family is {max_income} USD per month")

Highest income is 4400.0 USD per month

In [ ]:
Lowest income

In [136]:
min_income = family_income_increase.min()

In [137]:
print(f"Lowest income in family is {min_income} USD per month")

Lowest income is 1100.0 USD per month

Creation of new column category, in which is written Adult or Child. Person in family is Adult if it is more than 18 years old or 18 years old. Person inn family is Child if it is less than 18 yeras old.

In [77]:
family['category'] = family['age'].apply(lambda x: 'Adult' if x >= 18 else 'Child')

In [78]:
family

   id      name  age  income category
0   1    Father   46    3600    Adult
1   2    Mother   43    4000    Adult
2   3       son   17    1000    Child
3   4  daughter   25    3000    Adult